.mid{
    
    height: 631px;
    width: 98%;
    border: 5px solid black;
    margin: 0px auto;
    
    background-image: url(../IMAGES/MAIN.jfif);
    /* no-repeat center center/cover; */
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  opacity: 0.8;
}

.mid h1{
    align-items: center;
    justify-content: center;
    margin-left: 330px;
    margin-top: 230px;
    font-size: 100px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}